/* @tailwind base;
@tailwind components;
@tailwind utilities; */
/* TODO: Start implementing UI with new UI-kit */

@import "@hoodieshq/ms-tools-ui/styles.css";
@import "tailwindcss";

@theme {
  --default-font-family: "Rubik";
  --font-family-inter: "Inter";
  /* uncomment these vars to make site dark as desired */
  /* --background: #161B1A;
  --foreground: #272D2C; */
}

html,
body {
  height: 100%;
}

.wallet-adapter-button-trigger {
  background: rgb(100, 26, 230) !important;
  border-radius: 8px !important;
  padding-left: 16px !important;
  padding-right: 16px !important;
}
.wallet-adapter-dropdown-list,
.wallet-adapter-button {
  font-family: inherit !important;
}
