@import '@hoodieshq/ms-tools-ui/styles.css';
@import 'tailwindcss';

@theme {
  --default-font-family: 'Rubik';
  --font-family-inter: 'Inter';
}

/* overwrite variables for default dark theme as oklch are not 100% equal to hex ones */
.dark {
  --background: #161b1a;
  --foreground: #272d2c;
  --border: #111312;
}

html,
body {
  height: 100%;
}

.wallet-adapter-button-trigger {
  background: rgb(100, 26, 230) !important;
  border-radius: 8px !important;
  padding-left: 16px !important;
  padding-right: 16px !important;
}
.wallet-adapter-dropdown-list,
.wallet-adapter-button {
  font-family: inherit !important;
}
